* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    display: grid;
    background: rgba(255, 116, 0, 0.77);
    font-family: 'Acme', sans-serif;
}

header {
    text-align: center;
    background: rgb(46, 45, 44);
    box-shadow: 0px 0px 6px 0px red;

}

header img {
    width: 25%;
}


.carrossel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;

}

.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);

}


#imagens {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

svg {
    width: 30px;
    height: 40px;
}

p {
    text-align: justify;
    color: rgb(55, 51, 51);
    font-size: 18px;
    margin: 5px;
}

#imgpix {
    box-shadow: 0px 0px 6px 0px rgb(0, 0, 0);
    width: 315px;
    padding: 6px;
}


ul {
    list-style: none;
}

.donate {
    width: 30%;
    padding: 6px
}

/*

li:hover {
    transform: scale(1.1);
}

*/

main {
    max-width: 580px;
    margin: 5px auto;
}

.video-abrigo .img-nubia .foto-insta {
    width: 70%;
}


li {
    font-size: 20px;
    margin: 5px;

}

.topico {
    padding: 2px;
    display: flex;
}


nav a {
    color: black;
    text-decoration: none;

}

/*
li a::after {

    width: 0%;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;

}

li a:hover::after {
    width: 100%;
}
*/
footer p {
    padding: 6px;
    text-align: center;
}